@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    font-style: italic;
    src: url(./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

:root {
    --font-stack:
        Montserrat, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --fs-xs: clamp(0.6rem, 0.11vi + 0.58rem, 0.67rem);
    --fs-xs-plus: clamp(0.7rem, 0.13vi + 0.67rem, 0.78rem);
    --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
    --fs-sm-plus: clamp(0.9rem, 0.23vi + 0.85rem, 0.99rem);
    --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
    --fs-base-plus: clamp(1.125rem, 0.43vi + 1.04rem, 1.385rem);
    --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

    --huge-heading: clamp(4rem, 12vw, 8rem);

    --dark-text: #0c0d1a;
    --dark-subtext: #6b6b80;
    --misc-text: #747490;
    --misc-text-sharper: #686878;

    --background-color: #ffffff;
    --preview-background: #f4f4f8;


    --separator-border: #e8e8ec;
    --separator-border-soft: #e0e0ea;
    --separator-border-sharp: #b9b9c9;
    --separator-border-misc: #c8c8d8;
    --separator-border-heavy: #0c0d1a;
}

body {
    color: var(--dark-text);
    font-family: var(--font-stack);

    background-color: var(--background-color);

    min-height: 100svh;
}

#root {
    min-height: 100svh;

    display: flex;
    flex-direction: column;
}

#root:has(.loading-app),
#root:has(.error-cont) {
    display: grid;
    place-items: center;
}

.loading-app > h1 {
    color: var(--dark-text);
    font-size: var(--fs-xl);
    animation: pulse 2.5s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }
}